/* @import url(https://fonts.googleapis.com/css?family=Raleway);
*, *:before, *:after{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
  }
  
  body{
    background: #f9f9f9;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
  }
  
  .main-title{
    color: #2d2d2d;
    text-align: center;
    text-transform: capitalize;
    padding: 0.7em 0;
  }
  
  .container{
    padding: 1em 0;
    float: center;
    width: 50%;
  }
  @media screen and (max-width: 640px){
    .container{
      display: block;
      width: 100%;
    }
  }
  
  @media screen and (min-width: 900px){
    .container{
      width: 33.33333%;
    }
  }
  
  .container .title{
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
  } */
  
  .content {
    position: relative;
    width: 100%;
    max-width: 290px;
    margin: auto;
    overflow: hidden;
  }
  
  .content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 18px;
    top: 0;
    bottom: 0;
    right: 0px;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content:hover .content-overlay{
    opacity: 1;
  }
  
  .content-image{
    width: 100%;
  }
  
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em; 
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .content-details h3{
    color: #fff;
    font-weight: 3x00;
    margin-bottom: 0.5em;
  
  }
  
  .content-details p{
    color: #fff;
    font-size: 0.8em;
  }
  
  .fadeIn-bottom{
    top: 80%;
  }
  .fadeIn-top{
    top: 20%;
  }
  
  /*Begin section: Judges*/
  /* #judges .row .col-md-3 .container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    /* width: 100%;
    height: auto; */
    /* height: 150px;
    width: 150px; */
/* }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden; */
    /* width: 100%;
    height:0; */
    /* height: 150px;
    width: 150px;
    transition: .5s ease;
    opacity: 0.3;
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    color: white;
    font-weight: 400;
    font-size: 50px;
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  } */ 

  /*Begin section: Sponsors*/
  .carousel-wrap {
    margin: 90px auto;
    padding: 0 5%;
    width: 80%;
    position: relative;
  }
  
  /* fix blank or flashing items on carousel */
  .owl-carousel .item {
    position: relative;
    z-index: 100; 
    -webkit-backface-visibility: hidden; 
  }
  
  /* end fix */
  .owl-nav > div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
  }
  
  .owl-nav i {
    font-size: 52px;
  }
  
  .owl-nav .owl-prev {
    left: -30px;
  }
  
  .owl-nav .owl-next {
    right: -30px;
  }


  /*Footer links*/
  .footer-follow {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10%;
}

.footer-follow li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 13px;
}

.footer-follow li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
  background-color: #6195FF;
  color:#FFF;
}


/*Banner*/
#banner_img img{
  height:200px;
  width:250px;   
  }
.hero-text h1{
    top: 30%; 
    left:20%; 
    position: absolute;
    font-family: Germania One;
    font-size: 60px;
    letter-spacing: 2px;
    
    

  }

  /*Photo grid*/
  /* .grid { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 25px;
    align-items: stretch;
    }
  .grid img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    max-width: 100%;
  } */